.bg-image{
    background-image: url('./img/15628856_5655510.jpg');
    position: absolute;
    height: 100%;
    width: 100%;    background-size:cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    
}



.background
{
    background: none;
    border: none;
    background-color: transparent;
}

*{
    clear: both;
}

.shadow{
    background-color: blue;
}

.image{
    background-image: url('./img/pair-pencils-wireless-keyboard-smartphone.jpg');
    position: absolute;

    background-size:cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    
}

.loginbackground{
    background-image: url('./img/cesar-couto-TIvFLeqZ4ec-unsplash.jpg');
    position: absolute;
    height: 100%;
    width: 100%;    background-size:cover;
    background-repeat: no-repeat;
    background-clip: inherit;
    
}
